// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Chosen colours
$turquois: #21F3AC;
$skyblue: #ACC7FF;
$greyblue: #333333;
$lightgrey: #FAF9F6;
$darkgrey: rgb(100, 100, 100)
