.skill-form {
  /* Your CSS rules for the form container */
  background-color: #FAF9F6;
  border-color: #333333;
  border: .5px;
  border-radius: 5px;
  width: 800px;
  border: 2px;
  border-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
