// profile image section
.container-profile-show {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.container-profile-show h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-profile-show .profile-image {
  margin-bottom: 20px;
}

.container-profile-show .profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

// divider style

.divider {
  border-top: 1px solid #ccc;
  margin: 20px auto; /* Adjust margin as needed */
  width: 80%; /* Adjust width as needed */
}

// bookings and offers sections
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  flex-basis: 48%;
  margin-bottom: 16px;
}

.card {
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
}

.card-button {
  margin-top: auto;
  margin-bottom: 0;
}

.section-profile h2,
.section-booking h2 {
  margin-bottom: 16px;
}


.container-profile-listing,
.container-profile-booking {
  display: flex;
  flex-direction: column;
}

.card-skill-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card-skill-info img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.card-product-infos {
  flex-grow: 1;
  padding: 14px,
}

.card-product-infos h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.card-product-infos p {
  margin: 0;
  margin-bottom: 4px;
  color: #555;
  font-size: 14px;
}
.card-product-infos .category-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: #53dc7a;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 8px;

  // tag position in the corner

  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;

}

p.empty-message {
  margin-top: 0;
}
.card-product-infos .details-link {
  margin-top: 8px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    flex-basis: 100%;
  }
}
