

<footer class="footer text-center">
  <!-- Grid container -->
  <div class="container">

<%# if user_sign_in? %>
    <section class="mb-4">
      <!-- homepage -->
      <%= link_to root_path, class: "btn btn-outline-dark btn-floating m-3", role: "button" do %>
        <i class="fas fa-home"></i>
      <% end %>

      <!-- dashboard -->
      <%= link_to root_path, class: "btn btn-outline-dark btn-floating m-3", role: "button" do %>
        <i class="fas fa-heart"></i>
      <% end %>

      <!-- Profile -->
      <% if user_signed_in? %>
        <%= link_to profile_path(current_user), class: "btn btn-outline-dark btn-floating m-3", role: "button" do %>
          <i class="fas fa-user"></i>
        <% end %>
        <% else %>
         <%= link_to new_user_session_path, class: "btn btn-outline-dark btn-floating m-3", role: "button" do %>
          <i class="fas fa-user"></i>
        <% end %>
      <% end %>

    </section>
<%#else %>
<!--new_user_registration path>

</footer>
