// .buttons {

// }

//  .btn {
  // Styles for the button
.btn-turquoise {
   // Styles for the primary button
   background-color: $turquois;
   text-decoration: none;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   box-shadow: 0 0 16px rgba(0,0,0,0.1);
   border-color: none;
   text-align: center;
   font-family: $body-font;

    &:hover {
      background-color: $greyblue;
      color: white;
    }
 }

 .small {
  font-size: 15px;
  height: 20px;
  padding: 10px;
}

.big {
  font-size: 15px;
  height: 20px;
  padding: 12px;
}

.btnprofile {
  // font-size: 15px;
  height: 40px;
  padding: 8px;
}


 .link_to {
  // Styles for the link
  color: #ACC7FF;
 }
