.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.container {
  display: flex;
}

.container #map {
  height: 100vh;
  position: sticky;
  top: 0;
}

// carrousel

.categories-carousel {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  /* Add other styles as needed */
}

.category-container {
  flex: 0 0 auto;
  padding: 0 10px;
}

.category-card {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  /* Add other styles as needed */
}

.category-card h3 {
  margin: 0;
  /* Add other styles as needed */
}



// Skills cards


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-product {
  position: relative;
  border: .5px;
  border-color: black;
  box-shadow: 1px;
  /* Add other card styles as needed */
}

.card-product img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-product .card-product-infos {
  padding: 16px;
  background-color: white;
}

.card-product-infos-button {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #map {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #map {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
